
        @keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
.megaMenuservice{
    right: -650px !important;
}
.socialIcons a i svg{
    width: 20px;
    fill: #fff;
}
/* tabs */
.tabContent {
  display: none;
}
.tabContent.active {
  display: block;
}
.tabBtn.active {
  background: rgb(59 130 246);
  color: #fff;
}
.tabBtn {
    color:   rgb(75 85 99 );
}
/* header content */
.headerContent {
    display: none;
}
.headerContent.active {
    display: block;
}
.pageHeader .headerTabList button.active{
    background-color: rgb(37 99 235 );
}
.headerNavBar{
  background-color: #0c32d0;
}
.bg-blu{
    background-color: #0c32d0;
}
.headerNavBar .headerLogo{
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}
button.group.relative{
    background-color: #f67317;
    border: 1px solid #f67317;
}
.bg-slate-900\/95{
  background-color: #0c32d0;
}
.pageFooter{
   background-color: #36344d;
}
.pageFooter .footerLogo{
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}
.overflowAuto{
  max-height: 500px;
  overflow: auto;
}
.overflowAuto::-webkit-scrollbar{
display: none;
}
.webkit-1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: .8rem;
}
.navScroll{
  height: 100vh;
  overflow: auto;
}
.navScroll::webkit-scrollbar{
display: none;
}